table {
    border-collapse: collapse;
    text-align: center;   
    margin-left: 30%;
    width: 30%;
}

table, td, th {
    border: 1px solid black;    
}

div {
    text-align: center;
    width: 100%;
}